.avatar{
    width: 45px;
    height: 45px;
    border-radius:50%;
    //background-color:red;
    font-family: 'Dancing Script', cursive;
    font-size: 26px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    img{
        width: 45px;
        height: 45px;
        border-radius:50%;
    }

}

